In [10]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\LMQ\Desktop\【整体评价】天津市2016年度区域更新评价_空间数据.csv")

In [12]:
df

       Filename FieldName FieldAlias      Type  Length  Scale
0    DLMCZJ.shp       FID        FID       OID       4      0
1    DLMCZJ.shp     Shape      Shape  Geometry       0      0
2    DLMCZJ.shp     MBBSM      MBBSM   Integer      10      0
3    DLMCZJ.shp      YSDM       YSDM    String      10      0
4    DLMCZJ.shp      ZJNR       ZJNR    String      60      0
..          ...       ...        ...       ...     ...    ...
440   XZQZJ.shp        JG         JG    Single       7      2
441   XZQZJ.shp    ZXJXZB     ZXJXZB    Double      16      3
442   XZQZJ.shp    ZXJYZB     ZXJYZB    Double      16      3
443   XZQZJ.shp      ZJFX       ZJFX    Double      11      6
444   XZQZJ.shp      ZJXH       ZJXH    String       1      0

[445 rows x 6 columns]

In [13]:
df.Type.unique()

array(['OID', 'Geometry', 'Integer', 'String', 'SmallInteger', 'Double',
       'Single'], dtype=object)

In [17]:
df[df['Type']=='SmallInteger']

       Filename FieldName FieldAlias          Type  Length  Scale
7    DLMCZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
37     DMZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
67   DWJCZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
90    JMDZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
122    JTZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
143  QJBXXX.shp      BSGC       BSGC  SmallInteger       4      0
198  QYPJZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
273  QYXXZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
405    SXZJ.shp      ZJBS       ZJBS  SmallInteger       4      0
436   XZQZJ.shp      ZJBS       ZJBS  SmallInteger       4      0

In [18]:
df.loc[df['Type'] == 'SmallInteger', 'Length'] -= 1
df.loc[df['Type'] == 'Single', 'Length'] -= 1
df.loc[df['Type'] == 'Integer', 'Length'] -= 1

In [14]:
df.loc[df['Type'] == 'Double', 'Length'] -= 1
df

       Filename FieldName FieldAlias      Type  Length  Scale
0    DLMCZJ.shp       FID        FID       OID       4      0
1    DLMCZJ.shp     Shape      Shape  Geometry       0      0
2    DLMCZJ.shp     MBBSM      MBBSM   Integer      10      0
3    DLMCZJ.shp      YSDM       YSDM    String      10      0
4    DLMCZJ.shp      ZJNR       ZJNR    String      60      0
..          ...       ...        ...       ...     ...    ...
440   XZQZJ.shp        JG         JG    Single       7      2
441   XZQZJ.shp    ZXJXZB     ZXJXZB    Double      15      3
442   XZQZJ.shp    ZXJYZB     ZXJYZB    Double      15      3
443   XZQZJ.shp      ZJFX       ZJFX    Double      10      6
444   XZQZJ.shp      ZJXH       ZJXH    String       1      0

[445 rows x 6 columns]